<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat room</title>
  <link rel="stylesheet" href="/files/css/styles.css">
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/files/js/script.js"></script>

  <script src="/files/js/Chart.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>
  <!--h3>Messages:</h3>
  <ul id="list-msgs"></ul>
  <textarea id="new-msg" cols="30" rows="5" placeholder="New message"></textarea-->
    <span style="color:blue;font-size:50px;margin-left: 10px;margin-right: 10px;" id="mostrar_reloj"></span>

    <div id="progress" align="center" class="progress" style="width: 80%">
      <div id="progress-bar" class='progress-bar' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 0%;'></div>
    </div>
    <!--button id="reloj">Activar Reloj</button-->
    <div class="btn-group" align="center" role="group" aria-label="...">
      <button id="votA" type="button" class="btn btn-default">Voto A</button>
      <button id="votB" type="button" class="btn btn-default">Voto B</button>
      <button id="votC" type="button" class="btn btn-default">Voto C</button>
      <button id="votD" type="button" class="btn btn-default">Voto D</button>
    </div>

  <!--button id="votsi">Me Gusta</button>
  <button id="votno">No Me Gusta</button>
  <span style="color:red;font-size:40px;margin-left: 10px;margin-right: 10px;" id="mostrar_votos"></span-->
    <div style="float:left; width: 80%; height: 50%">
      <canvas id="myChart" width="800" height="350"></canvas>
    </div>
  </body>
  </html>
